.main {
  position: relative;
  width: 100%;
  min-height: 60vh;
  border-radius: 1rem;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 1rem;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 5;
  cursor: pointer;
  border-radius: 1rem;
}

.header_container {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  top: 30%;
}

.header {
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: -0.2rem;
  color: rgba(245, 245, 245, 0.9);
  margin-top: 2rem;
}

.sub_header {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -0.15rem;
  color: rgba(220, 220, 220, 1);
  margin-top: 0.5rem;
  font-style: italic;
}

.lower {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  bottom: 5%;
}

.lower_text {
  font-size: 1.875rem;
  font-weight: 500;
  margin-top: 3rem;
  letter-spacing: -0.1rem;
  color: rgba(220, 220, 220, 1);
  font-style: italic;
}
